 <div class="url-item">
  <div class="block">
    <h4 class="block__title">{{title}}</h4>
    <img class="block__img" src="{{image}}" alt="image of site">
    <p class="block__about">{{description}}</p>
    <a class="block__link" href="{{url}}">Link to the site</a>
  </div>
  <button type="reset" class="btn-reset">delete</button>
</div>